body {
    background-color: rgb(117, 252, 146);
}

.main {
    display: flex;
    padding: 15px;
}

/* place img on right to the edge of container */
.bigCol {
    width: 100%;
}

/* Font size for paragraphs */
p {
    font-size: 22px;
    display: inline-flex;
}

h1 {
    text-align: center;
    color: darkgreen;
    background-color: wheat;
}

h2 {
    text-align: center;
    background-color: lightblue;
}

/* list of old workouts on separate lines */
.addWorkoutList {
    display: block;
}

/* Place and size home button */
.home {
    text-align: left;
    font-size: 20px;
}

/* tweak formatting of tables */
/* td, th, tr, .execTableRow, .execInWOTableRow */
/* .desc1 & 2, .unit1 & 2, .reps1 & 2, .time1 are column widths */
td, th {
    font-size: 18px;
}

tr {
    height: 40px;
}

.execTableRow, .execInWOTableRow {
    background-color: rgb(252, 252, 137);
}

.desc2, .time1 {
    width: 60%;
}

.desc1 {
    width: 25%;
}

.unit1, .unit2 {
    width: 20%;
}

.reps1, .reps2 {
    width: 15%;
}

/* this is an href...make it look similar to the buttons, with different background */
.goToCurrent {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(252, 252, 137);
    text-decoration: none;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

/* Space between choices, and nice indenting */
.choiceSpace {
    margin: 40px;
}

/* Space between text and button */
.btnHref {
    margin-left: 15px;
}

/* Space between buttons, and indent */
.btnSpace {
    margin-top: 15px;
}

/* indent buttons */
.btnSpace, .input-group {
    margin-left: 30px;
}

/* style button to add exercise to workout */
.addExerToWO {
    height: 24px;
    font-size: 12px;
    background-color: lightblue;
}

/* Space before button to add new exercise, and highlight */
.createNewExercise, .createNewWorkout {
    margin-left: 15px;
    background-color: rgb(252, 252, 137);
}
