body {
    background-color: rgb(117, 252, 146);
}

/* Font size for paragraphs */
p {
    font-size: 22px;
}

h1 {
    text-align: center;
    color: darkgreen;
    background-color: wheat;
}

h2 {
    text-align: center;
    background-color: lightblue;
}

/* Space between choices, and nice indenting */
.choiceSpace {
    margin: 40px;
}

/* Space between buttons */
.btnSpace {
    margin-top: 15px;
}

/* Space before button, and highlight */
#createNewExercise, #createNewWorkout {
    margin-left: 15px;
    background-color: rgb(252, 252, 137);
}

.execTableRow {
    background-color: palegreen;
}