body {
    background-color: rgb(117, 252, 146);
}

.main {
    display: flex;
    padding: 15px;
}

/* place img on right to the edge of container */
.bigCol {
    width: 100%;
}

/* Font size for paragraphs */
p {
    font-size: 22px;
    display: inline-flex;
}

/* highlight message when no access to internet. */
.offline {
    color: red;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: darkgreen;
    background-color: wheat;
}

h2 {
    text-align: center;
    background-color: lightblue;
}

/* list of old workouts on separate lines */
.addWorkoutList {
    display: block;
}

/* Place and size home button */
.home {
    text-align: left;
    font-size: 20px;
}

/* tweak formatting of tables */
/* td, th, tr, .execTableRow, .execInWOTableRow */
/* .desc, .unit, .reps, .last are column widths */
td, th {
    font-size: 18px;
}

tr {
    height: 40px;
}

.execTableRow, .execInWOTableRow {
    background-color: rgb(252, 252, 137);
}

.desc, .last {
    width: 30%;
}

.unit, .reps {
    width: 20%;
}

/* Space between choices, and nice indenting */
.choiceSpace {
    margin: 40px;
}

/* Space between text and button */
.btnHref {
    margin-left: 15px;
}

/* Space between buttons, and indent */
.btnSpace, .goToCurrent, .createNewWorkout, .createNewExercise {
    background-color: rgb(252, 252, 137);
    margin-left: 30px;
    border-width: 2px;
    border-color: grey;
}

/* indent buttons */
.btnSpace, .input-group {
    margin-top: 20px;
}

/* style button to add exercise to workout */
.addExerToWO {
    font-size: 12px;
    background-color: lightblue;
}